body { background: #94cee9; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 58px; display: flex; }
.block-notify-0 { color: #c26c8f; font-size: 19px; margin-bottom: 5px; }
.block-filter-1 { color: #b8c409; font-size: 12px; margin-bottom: 5px; }
.block-sms-2 { color: #a9a296; font-size: 16px; margin-bottom: 5px; }
.block-search-3 { color: #c47843; font-size: 19px; margin-bottom: 5px; }
.block-payment-4 { color: #27cf71; font-size: 17px; margin-bottom: 5px; }